<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Bookings</title>
  <link rel="stylesheet" href="/bookingStyles/booking.css">
<link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
  <%- include('../partials/navbar') %>

  <div class="booking-details">
    <h1 class="page-title">My Bookings</h1>

    <% if (allBookings.length > 0) { %>
      <div class="booking-container">
        <% allBookings.forEach(booking => { %>
          <div class="booking-card">
            <img src="<%= booking.movie.image %>" alt="<%= booking.movie.name %>" class="movie-image">
            
            <div class="booking-info">
            <h3><%= booking.movie.name %></h3>
            <p>Language: <%= booking.movie.language %></p>
            <p>Release Date:<%= booking.movie.releaseDate%></p>
            <p>Booked On:<%= booking.bookingDate%></p>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p class="no-booking-msg">You have no bookings yet.</p>
    <% } %>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
