<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>

  <div >
    <h1>Edit Booking for "<%= booking.movie.name %>"</h1>

    <img src="<%= booking.movie.image %>" alt="<%= booking.movie.name %>" >

    <form action="/bookings/<%= booking._id %>?_method=PUT" method="POST">
      <label for="date">Date:</label>
      <input type="date" name="date" value="<%= booking.date.toISOString()%>" required >
      <br>
      <br>

      <label for="time">Time:</label>
      <select name="time" required >
        <option value="">--Select Time--</option>
        <% ['1:00 PM', '3:30 PM', '6:00 PM', '8:30 PM'].forEach(option => { %>
          <option value="<%= option %>" <%= booking.time === option ? 'selected' : '' %>><%= option %></option> <!--modify-->
        <% }) %>
      </select>
      <br>
      <br>

      <button type="submit">Update Booking</button>
    </form>

    <br>
    <a href="/bookings/allBookings">← Back to My Bookings</a>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>