<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    <link rel="stylesheet" href="/bookingStyles/booking.css">
<link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="update-booking-container">
  <h1 class="page-title">Update Booking for <%= foundBooking.movie.name %></h1>

  <div class="content-wrapper">
    <div class="movie-poster">
      <img src="<%= foundBooking.movie.image %>" alt="<%= foundBooking.movie.name %>" />
    </div>

    <form action="/bookings/editBooking/<%= foundBooking.movie._id %>" method="POST">
      <div class="update-date">
  <label for="date">Date:</label>
  <select name="date" class="form-select" required>
    <option value="">--Select Date--</option>
    <% dateArray.forEach(option => { %>
      <option value="<%= option %>" <%= foundBooking.date === option ? 'selected' : '' %>><%= option %></option>
    <% }) %>
  </select>
</div>


      <div class="update-time">
        <label for="time">Time:</label>
        <select name="time" class="form-select" required>
          <option value="">--Select Time--</option>
          <% timeArray.forEach(option => { %>
            <option value="<%= option %>" <%= foundBooking.time === option ? 'selected' : '' %>>
              <%= option %>
            </option>
          <% }) %>
        </select>
      </div>

      <button type="submit" class="update-btn">Update Booking</button>
    </form>
  </div>

  <div class="back-btn">
    <a href="/auth/profile">Back to all Bookings</a>
  </div>
</div>

  <%- include('../partials/footer') %>
</body>
</html>