<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    <link rel="stylesheet" href="/bookingStyles/booking.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="update-booking-container">
    
    <h1 class="page-title">Update Booking for <%= foundBooking.movie.name %></h1>
    
    <div class="movie-poster">
    <img src="<%= foundBooking.movie.image %>" alt="<%= foundBooking.movie.name %>" >
    </div>

    <form action="/bookings/updateBooking/<%= foundBooking.movie._id  %>" method="POST">
      <div class="update-date">
      <label for="date">Date:</label>
      <input type="date" name="date" class="form-input" value="<%= foundBooking.date%>">
      </div>
      
      <div class="update-time">
      <label for="time">Time:</label>
      <select name="time" class="form-select" required >
        <option value="">--Select Time--</option>
        <% timeArray.forEach(option => { %>
          <option value="<%= foundBooking.time %>" <%= foundBooking.time === option ? 'selected' : '' %>>
            <%= option %></option> 
        <% }) %>
      </select>
      </div>

      <button type="submit" class="update-btn">Update Booking</button>
    </form>

    <div class="back-btn">
    <a href="/bookings/allBookings">Back to My Bookings</a>
    </div>
    </div>

  <%- include('../partials/footer') %>
</body>
</html>