<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    <link rel="stylesheet" href="/bookingStyles/booking.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="update-booking-container">
    
    <h1 class="page-title">Edit Booking for <%= booking.movie.name %></h1>
    
    <div class="movie-poster">
    <img src="<%= booking.movie.image %>" alt="<%= booking.movie.name %>" >
    </div>

    <form action="/bookings/updateBooking/<%= movie._id  %>" method="POST">
      <div class="update-date">
      <label for="date">Date:</label>
      <input type="date" name="date" class="form-input" value="<%= booking.date.toISOString().split('T')[0]%>">
      </div>
      
      <div class="update-time">
      <label for="time">Time:</label>
      <select name="time" class="form-select" required >
        <option value="">--Select Time--</option>
        <% ['1:00 PM', '3:30 PM', '6:00 PM', '8:30 PM'].forEach(option => { %>
          <option value="<%= option %>" <%= booking.time === option ? 'selected' : '' %>>
            <%= option %></option> 
        <% }) %>
      </select>
      </div>

      <button type="submit" class="update-btn">Update Booking</button>
    </form>

    <div class="back-btn">
    <a href="/bookings/allBookings">Back to My Bookings</a>
    </div>
    </div>

  <%- include('../partials/footer') %>
</body>
</html>