<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="/bookingStyles/booking.css">
<link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
      <%- include('../partials/navbar') %>
<div class="new-booking-container">
    <div id="bookingModal" class="modal" >
    <div class="modal-content" >
    <h2 class="booking-title">Booking <%= movie.name %> Movie</h2>
    
    <div class="movie-photo">
    <img src="<%= movie.image %>" alt="<%= movie.name %>" >
    </div>
    
    <form action="/bookings/newBooking/<%= movie._id  %>" method="POST">
      <input type="hidden" name="movieId" value="<%= movie._id %>">
      
      <div class="date-form">
      <label for="date">Select Date:</label>
      <select name="date" id="date" required >
        <option value="">--Select Date--</option>
        <% const dateArray = ['10-08-2025', '11-08-2025', '12-08-2025', '13-08-2025', '14-08-2025', '15-08-2025', '16-08-2025', '17-08-2025']%>
          <% const randomD = Math.floor(Math.random() * dateArray.length)%>
          <% for(let i = 0 ; i < 3 ; i++){ %>
            <% const randomDate= dateArray[randomD]%>
            <% const date = randomDate %>
            <option value="<%=date%>"><%=date%></option> 
            <% dateArray.splice(dateArray.indexOf(date),1) %>
          <%}%>
    
      </select>
      </div>

      <div class="time-form">
      <label for="time">Select Time:</label>
      <select name="time" id="time" required >
        <option value="">--Select Time--</option>
        <% const timeArray = ['1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM', '5:00 PM', '6:00 PM', '7:00 PM', '8:00 PM']%>
                  <% const randomT = Math.floor(Math.random() * timeArray.length)%>
                  <% for(let i = 0 ; i < 3 ; i++){ %>
                    <% const randomTime= timeArray[randomT]%>
                    <% const time = randomTime %>
                    <option value="<%= time %>"><%=time%></option> 
                    <% timeArray.splice(timeArray.indexOf(time),1) %>
                  <%}%>
      </select>

              
      </div>

      <button type="submit" class="confirm-btn">Confirm Booking</button>

    </form>
  </div>
</div>
</div>
    <%- include('../partials/footer') %>

</body>
</html>