<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>All Movies</h1>
    <div class='movie-container'>
        <% if (allMovies && allMovies.length > 0) { %>
            <% allMovies.forEach(movie => { %>
                <div class="movie-card">
                    <img src="<%=movie.image%>" alt="<%=movie.name%>">
                    <h3><%= movie.name %></h3>
                    <a href="/movies/<%= movie._id %>">
                        <button>More Details</button>
                    </a>
                </div>
            <% }) %>
    <%} else {%>
        <p>No movies available right now.</p>
    <% } %>
    </div>
    <%- include('../partials/footer')%>
</body>
</html>