<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/movieStyles/movie.css">
<link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
    <%- include('../partials/navbar')%>
<div class="all-movies-container">
    <div class="page-header">
    <h1>All Movies</h1>
    </div>

    <div class='movie-container'>
        <% if (allMovies && allMovies.length > 0) { %>
            <% allMovies.forEach(movie => { %>
                <div class="movie-card">
                    <img src="<%=movie.image%>" alt="<%=movie.name%>">
                    <% console.log(movie.image)%>
                    <h3 class="movie-title"><%= movie.name %></h3>
                    <a href="/movies/<%= movie._id %>" class="btn-details">More Details</a>
                </div>
            <% }) %>
    <%} else {%>
        <p class="no-movies-msg">No movies available right now.</p>
    <% } %>
    </div>
</div>
    <%- include('../partials/footer')%>
</body>
</html>