<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.name %></title>
    <link rel="stylesheet" href="/movieStyles/movie.css">
<link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
    <%- include('../partials/navbar') %>
<div class="movie-details-container">
    <h1 class="movie-name"><%= movie.name %></h1>
    
    <% if (movie.image) { %>
      <div class="movie-poster">
      <img src="<%= movie.image %>" alt="<%= movie.name %>">
      </div>
    <% } %>
    
    <div class="movie-information">
      <p class="movie-description"><strong>Description: </strong><%= movie.description %></p>
      <p class="movie-release"><strong>Release Date: </strong><%= movie.releaseDate%></p>
      <p class="movie-language"><strong>Language: </strong><%= movie.language %></p>
    </div>

    <div class="booking-btn-container">
      <a href="/bookings/newBooking/<%= movie._id %>" class="booking-btn">Book Now</a>
    </div>
</div>
  <%- include('../partials/footer') %>
</body>
</html>